.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: #ddd;
  border-bottom: 2px solid #626262;
}

.navbar .logo {
  width: max(12vw, 120px);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.navbar li:hover {
  color: #929da8;

  transform: scale(1.2);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 1rem);
}

.navbar select {
  padding: 5px 8px;
  border-radius: 5px;
  outline: 1px solid white;
  background: transparent;
  color: #fff;
}

.navbar select:focus {
  outline: none;
}

.navbar option {
  background-color: #4a5c6e;
  color: #fff;
}

.navbar button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 1rem;
  border-radius: 20px;
  color: #4a5c6e;
  font-size: 0.9rem;
  font-weight: 500;
  background: #fff;
  border: none;
  cursor: pointer;
}

.navbar button:hover {
  background: #4a5c6e;
  color: #fff;
}

.navbar button img {
  width: 12px;
}

/*Responsive */
/* nav */
@media (max-width: 900px) {
  .navbar {
    padding: 20px 8%;
  }

  .navbar .logo {
    width: max(15vw, 120px);
  }

  .navbar button {
    padding: 10px 0.5rem;
    font-size: 14px;
    gap: 5px;
  }

  .nav-right {
    gap: 20px;
  }

  .navbar select {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 5%;
  }

  .navbar ul {
    display: none;
  }

  .nav-right {
    gap: 20px;
  }

  .navbar select {
    display: block;
  }

  .navbar button img {
    width: 10px;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 20px 3%;
  }

  .navbar .logo {
    width: max(20vw, 120px);
  }

  .navbar ul {
    display: none;
  }

  .nav-right {
    gap: 10px;
  }

  .navbar select {
    display: block;
  }

  .navbar button img {
    width: 8px;
  }
}
