.footer {
  background-color: #4a5c6e;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  width: 100%;
  line-height: 25px;
  height: 60px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border-top: 2px solid #929da8;
}

.footer section {
  font-size: 0.6rem;
}

.logo-name {
  color: gold;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 768px) {
  .footer {
    padding: 5px 5px;
    font-size: small;
  }
}
